<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#!/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->

<div class="row" ng-controller="MainCtrl">
  <div class="col s12 m12 l12 center-align">
    <h1>Welcome to HostelDoor </h1>
  </div>
  <div class="center row">
    <div class="col s10 m7 l8 center-align offset-m2 offset-l2 ">
      <div class="row" id="topbarsearch">
        <div class="input-field col s6 s12">
          <div class="padded-row">
         <label><i class="red-text material-icons">search</i></label>
            <div angucomplete-alt id="ex4" placeholder="Search countries" pause="100" selected-object="selectedCountry4" local-data="countries" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small" match-class="highlight" override-suggestions="true" clear-selected="true">
            </div>
          </div>
          <div class="result">
            <div class="" ng-show="selectedCountry4">
              You selected <span class="bold-span">{{selectedCountry4.originalObject}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


</div>
</div>
</div>
